.NavBar {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0ee;
  padding: 0 10px;
}
.closedLogout {
  display: none;
}
.usernameBtn {
  font-size: 1rem;
  font-weight: bold;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.usernameBtn i {
  margin-left: 0.5rem;
}
.OpenedLogout {
  display: block;
  color: #b54235 !important;
  font-weight: bold;
  font-size: large;
  position: absolute;
  left: 50%; /* Position the dropdown content relative to the parent */
  transform: translateX(-50%);
  background-color: #f9f9f9;
  width: 100%;
  text-align: center;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.toggledDropdown li,.usernameBtn {
  font-size: x-large;
  padding: 20px 20px;
}
.logoutDropdown {
  position: relative;
  display: inline-block;
}
.logo {
  width: 6rem;
  margin: -10px -22px;
}
.menuButton {
  position: relative;
  margin: 20px;
}
/* Format of menu button's three bars */
.menuButton > div {
  display: none;
  width: 35px;
  height: 5px;
  margin: 6px 0;
  transition: 0.4s;
}
.toggledBar1 {
  transform: translate(0, 11px) rotate(-45deg);
}
.toggledBar2 {
  opacity: 0;
}
.toggledBar3 {
  transform: translate(0, -11px) rotate(45deg);
}
li {
  cursor: pointer;
  list-style-type: none;
}
.dropdown-content {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.toggledDropdown li:hover, .usernameBtn:hover {
  background-color: #ddd;
}
.toggledDropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  transition: height 0.6s ease-in-out;
}


/* tablets */
@media only screen and (min-width: 600px) {
  .dropdown-content {
    display: none;
  }
  .toggledDropdown li {
    color: green;
  }
  .menuButton > div {
    background-color: green;
    display: flex;
  }
  .usernameBtn{
    color: green;
  }
}
/* phones */
@media only screen and (max-width: 600px) {
  /* Hiding Nav. items */
  .dropdown-content {
    display: none;
  }
  .toggledDropdown li {
    color: rgb(91, 192, 222);
  }
  /* Showing mennu button */
  .menuButton > div {
    background-color: rgb(91, 192, 222);
    display: flex;
  }
  .usernameBtn{
    color: rgb(91, 192, 222);
  }
}
@media only screen and (min-width: 992px) {
  .menuButton {
    display: none;
  }
  .dropdown-content {
    display: flex;
  }
   .usernameBtn{
    color: rgb(0, 85, 128);
  }
  /* Adjusting Navigation Items */
  li,.usernameBtn {
    font-size: large;
    color: rgb(0, 85, 128);
    padding: 20px 20px;
  }
  li:hover, .usernameBtn:hover {
    background-color: rgb(0, 85, 128);
    border-radius: 2px;
    color: #ddd;
  }
}
