.loginMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loginContent {
  display: flex;
  width: max-content;
  flex-direction: column;
  padding: 2.5rem;
  margin: 0px;
  border: 1px solid rgb(204, 202, 202);
  border-radius: 5px;
}
.loginContent input {
  margin-bottom: 1rem;
  padding: 0.8rem 0.6rem;
  border: 1px solid #b3b3b3;
  border-radius: 15px;
}
.loginContent h1 {
  align-self: center;
}
.loginContent label {
  margin: 0.9rem 0.6rem;
  font-size: 1rem;
  font-weight: bold;
}
/* Style for required asterisk */
.required {
  color: red;
  margin-left: 4px; 
}
.loginContent .buttons {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
}
.loginBtn[disabled] {
  background-color: #ccc; /* Change the background color to a muted color */
  color: #666; /* Change the text color to a darker shade */
  cursor: not-allowed; /* Change the cursor to not-allowed */
}
.loginBtn {
  background-color: #5c92ea;
  color: white;
}
.passwordCell {
  position: relative;
}
#password {
  width: 100%;
}
.visibility {
  position: absolute;
  right: 15px;
  top: 13px;
}
